$orange-color: #fc8702;
$orange-color-opacity: #fc87029d;
$primary-color: #e0e0e0;
$hoverNav: #f3f5f9;
$headerText: #2e2d2c;

$h2-nav: 1rem;
$slider-h2: 3rem;

@import "responsiveNav";

body {
    box-sizing: border-box;
    background: $primary-color;
    margin: 0;
    padding: 0;
    // font-family: Montserrat;
    font-family: 'Orbitron', sans-serif;

    // background: url('/images/slide-1-bg.jpg');
    // background-attachment: fixed;

    // background-color: transparent;


    h2 {
        margin: 0;
        padding: 0;
        display: inline;
        font-size: $h2-nav;
        font-weight: 400;
    }
}

header {
    // background-color: #181818;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    // height: 140px;
    height: 100px;
    // padding: 1.5em 3.4em;
    padding: 1.5em 0em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header__bottom {
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, .8);

}

.header__bottom__wraper {
    width: 90%;
    height: 100%;
    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    // display: inline;
    position: absolute;
    left: -50px;
    top: -68px;

    img {
        height: 180px;
        width: 200px;
    }
}

.left {
    width: 40%;
    // float: left;
    // background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul {
        display: inline;
        padding-left: 100px;
        // margin-left: 60px;

        li {
            list-style: none;
            display: inline;

            a {
                text-decoration: none;
                color: #a7a7a7;
                padding: 1rem 1rem;
                font-weight: 200;
                background-color: #181818;
            }
        }
    }

}


.left ul a:hover {
    color: $orange-color;
}

.arrow {
    margin-right: 10px;

    img {
        width: 12px;
        height: 10px;
        filter: invert(1);
    }
}

.arrow__inner {
    img {
        transform: rotate(-90deg)
    }
}

//   dropdown btn-------------------------------------------------------

.dropbtn {
    background-color: inherit;
    color: white;
    // padding: 16px;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Orbitron', sans-serif;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    font-size: 13px;
}

.dropdown-content::before {
    content: '';
    display: inline-block;
    // background-color: rgba(0, 0, 0, 0.1);
    background-color: transparent;
    min-width: 160px;
    height: 35px;
}

.dropdown-content {
    display: none;
    position: absolute;
    // top: 60px;
    // left: 10px;
    // background-color: rgba(0, 0, 0, 0.9);
    // background-color: #181818;
    background-color: transparent;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content__inner::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    // background: $orange-color;
    background: transparent;
    position: absolute;
    top: 0%;
    left: -5px;
}

.dropdown-content__inner {
    display: none;
    position: absolute;
    top: 73%;
    left: 103%;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: #181818;
    min-width: 160px;
    // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content__inner__2::before {
    content: '';
    display: inline-block;
    width: 5px;
    height: 100%;
    // background: $orange-color;
    background: transparent;
    position: absolute;
    top: 0%;
    left: -5px;
}

.dropdown-content__inner__2 {
    display: none;
    position: absolute;
    top: 46%;
    left: 103%;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: #181818;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    // background-color: #f1f1f1
    background-color: #111;
    color: $orange-color;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown__inner:hover .dropdown-content__inner {
    display: block;
}

.dropdown__inner:hover .dropdown-content__inner__2 {
    display: block;
}

.dropdown__inner:hover .dropdown-content__inner__3 {
    display: block;
}

.dropdown:hover .dropbtn {
    color: $orange-color;
}

.circle__dropdown-content {
    // position: absolute;
    top: 29px;
    // left: 10px;

    a {
        color: #a7a7a7;
        background-color: #181818;

    }

    .dropdown-content__inner__3::before {
        content: '';
        display: inline-block;
        width: 5px;
        height: 100%;
        // background: $orange-color;
        background: transparent;
        position: absolute;
        top: 0%;
        left: -5px;
    }

    .dropdown-content__inner__3 {
        display: none;
        position: absolute;
        top: 38px;
        left: 103%;
        // background-color: rgba(0, 0, 0, 0.9);
        background-color: #181818;
        min-width: 160px;
        // box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;

    }

}

//  end of dropdown btn-------------------------------------------------------

.circle {
    display: inline-block;
    position: relative;
    width: 28px;
    height: 28px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 20px;
}

.circle:hover {
    background-color: $orange-color;

    .dot,
    .dot__2,
    .dot__3 {
        background-color: #fff;
    }
}



.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.dot__2 {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    left: 50%;
    transform: translateX(-50%);

}

.dot__3 {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

}

.right__social {
    width: 60%;
    float: left;
    height: 50px;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: center;

    // position: absolute;
    // right: 5%;

    ul {
        display: inline-flex;
        padding: 0px;

        li {
            list-style: none;
            display: inline;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 0 1rem;
            }
        }
    }
}

// treba menjati svg
// .right__social h2:hover {
//     a {
//         color: $orange-color;
//     }
// }

.phone {
    transform: rotate(-90deg);
    // filter: invert(1);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    fill: #fff;
}

// .phone:hover {
//     fill: #fc8902;
// }
.phone__number__small {
    display: none;
}

// #myHeader>div>div>nav.right__social>ul>li:nth-child(1)>a>h2 {
//     display: none !important;
// }

.phone__number:hover {
    color: #fc8902;

    .phone {
        fill: #fc8902;
    }
}

.facebook {
    // filter: invert(1);
    margin-right: 10px;
    width: 22px;
    height: 22px;
    fill: #fff;
}

.facebook:hover {
    fill: #fc8902;
}

.twitter {
    // filter: invert(1);
    fill: #fff;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.twitter:hover {
    fill: #fc8902;
}

.instagram {
    fill: #fff;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.instagram:hover {
    fill: #fc8902;
}

.search__submit__img {
    // filter: invert(1);
    // margin-right: 10px;
    width: 18px;
    height: 18px;
}

.active__search {
    img {
        filter: invert(1);
        width: 18px;
        height: 18px;
    }
}

.search__form__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search__form__wrap__small {
    display: none;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    // background: greenyellow;
    // width: 70px;
    // height: 25px;

    // position: absolute;
    // left: 50%;
    li {
        list-style: none;
    }
}



.search__action {
    height: 50px;
    position: relative;
}

.search__field {
    height: 35px;
    width: 220px;
    border-radius: 30px;
    // border-color: rgba(255, 255, 255, 0.15) !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    color: #fff !important;
    font-size: 22px;
    text-align: center;
    outline: none;
}

.search__submit {
    position: absolute;
    left: 5px;
    top: 12px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff !important;
}

.search__submit__img {
    filter: invert(1);
}

.basket {
    filter: invert(1);
    margin-left: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    // display: inline;
    // float: left;
}

.suma {
    display: inline;
    cursor: pointer;
}

.suma__span {
    // color: red;
    color: #fff;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.suma__span:hover {
    color: #eaeaea;
    font-weight: 400;
}

.slider_wraper {
    width: 100%;
}

#lightSlider li {
    position: relative;
}

.active .inner__1 {

    // height: 500px;
    height: 50%;
    // width: 900px;
    width: 90%;
    background: transparent;
    // background: red;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 5%;

    .inner__h__left {
        position: absolute;
        // top: 20px;
        // left: 20px;
        top: -200px;
        left: -600px;
        animation: moveleft .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes moveleft {
        0% {
            top: 5%;
            left: 0px;
            // opacity: 0.2;
        }

        100% {
            top: 5%;
            left: 0px;
        }
    }


    .inner__h__right {
        position: absolute;
        top: 5%;
        left: 500px;
        transition: all 3s ease;
        animation: moveright 1.5s ease-in;
        animation-fill-mode: forwards;

        h2 {
            color: #fff;
            // font-size: $slider-h2;
            // color: $orange-color;
            // font-weight: 700;
        }
    }

    @keyframes moveright {
        0% {
            top: 5%;
            // left: 2600px;
            left: 250%;
            // opacity: 0.2;
        }

        100% {
            top: 5%;
            // left: 350px;
            left: 30%;
            // opacity: 1;
        }
    }

    h2 {
        font-size: $slider-h2;
        color: $orange-color;
        font-weight: 700;
    }


}

.active .inner__p {
    // background-color: #fff;
    // color: #fff !important;
    position: absolute;
    top: 30%;
    left: 0px;
    opacity: 0;
    width: 50%;
    // transition: all 3s ease;
    animation: moveP .5s ease-out 2.5s;
    animation-fill-mode: forwards;

    p {
        color: grey;
        font-size: 20px;
        font-weight: 400;
    }
}

@keyframes moveP {
    0% {
        top: 30%;
        left: 0px;
        opacity: 0;
        scale: (0.1)
    }

    100% {
        // top: 200px;
        top: 45%;
        left: 0px;
        opacity: 1;
        scale: (1);
    }
}

.active .inner__message {
    // background-color: #fff;
    // color: #fff !important;
    position: absolute;
    top: 22%;
    left: 0px;
    opacity: 0;
    width: 50%;
    // transition: all 3s ease;
    animation: moveMesage .5s ease-in 1.5s;
    animation-fill-mode: forwards;

    p {
        color: #fff;
        font-size: $slider-h2;
        font-weight: 700;
    }
}

@keyframes moveMesage {
    0% {
        top: 20%;
        left: 0px;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        top: 20%;
        left: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

.inner__mail {
    display: none
}

.active .inner__mail {
    display: block;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    top: 60%;
    left: 0px;
    opacity: 0;
    animation: moveM .5s ease-out 4s;
    animation-fill-mode: forwards;

    .inner__input {
        width: 20em;
        height: 100%;
        font-size: 18px;
        padding-left: 20px;
        background-color: rgba(255, 255, 255, 0.07);
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
    }

    .inner__submit {
        width: 10em;
        height: 100%;
        font-size: 18px;
        margin-left: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border-color: rgba(255, 255, 255, 0.07);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 40px;
    }
}

@keyframes moveM {
    0% {
        // top: 140px;
        // left: 20px;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        // top: 300px;
        // left: 20px;
        opacity: 1;
        transform: scale(1);
    }
}

.grow__up {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // transform: scale(1.1)
}

//   ANIMACIJA ZA UVECANJE SLIKE U SLIDERU

// .active .grow__up {
//     width: 100%;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
//     animation: scale 9.9s ease-in 1s;
//     animation-direction: alternate;
//     animation-fill-mode: forwards;
// }

// @keyframes scale {
//     0% {
//         transform: scale(1)
//     }

//     100% {
//         transform: scale(1)
//     }
// }

// --------------------------------

.offer {
    width: 90%;
    height: 130px;
    // background-color: $orange-color;
    margin: auto;
    position: relative;
    // position: absolute;
    // left: 50px;
    // left: 5%;
    // bottom: -10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__1 {
    position: absolute;
    left: 0%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    // background-image: url('/images/home1-slide-2-1.jpg');
    background-image: url('/images/mini_background/kribzon-auto-delovi-mini-slider1.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 33.33333333%;

    .offerr__1__inner {
        background-color: #fc8702e8;
        border: 1px solid rgba(0, 0, 0, 0.3);

        height: 100%;
        width: 100%;
        z-index: 300;

        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            transition: all .5s;
        }

    }

    .offerr__1__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: #181818;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__1__inner:hover::after {
        width: 80%;
    }


    .offerr__1__inner:hover h3 {
        color: #181818;
        transition: all 1s ease;
        transform: scale(1.1);
    }

}

.offer__2 {
    position: absolute;
    left: 33.33333333%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    // background-image: url('/images/hyundai-kia-delovi-ponuda-4.jpg');
    background-image: url('/images/mini_background/kribzon-auto-delovi-mini-slider1.1.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 33.33333333%;

    .offerr__2__inner {
        background-color: #000000ec;
        // background-color: #000000c0;
        border: 1px solid rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            transition: all .5s;

        }
    }

    .offerr__2__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: $orange-color;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__2__inner:hover::after {
        width: 80%;
    }

    .offerr__2__inner:hover h3 {
        color: $orange-color;
        // transition: all 1s;
        transform: scale(1.1)
    }
}

.offer__3 {
    position: absolute;
    left: 66.66666666%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    background-image: url('/images/mini_background/kribzon-auto-delovi-mini-slider1.2.jpg');
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 33.33333333%;

    .offerr__3__inner {
        background-color: #353535d7;
        border: 1px solid rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 300;

        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
            transition: all .5s;

        }

    }

    .offerr__3__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: $orange-color;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__3__inner:hover::after {
        width: 80%;
    }

    .offerr__3__inner:hover h3 {
        color: $orange-color;
        // transition: all 1s ease;
        transform: scale(1.1);
    }

}

.sticky {
    position: fixed;
    top: 0;
    // background-color: rgba(0, 0, 0, 0.9);
    background-color: #181818;
}

.welcome {
    height: 300px;
    width: 100%;
    // margin-top: 100px;
    // background: url('/images/izduvni-sistemi.webp');
    position: relative;

    // background-color: #e0e0e0;

    h3 {
        font-size: $slider-h2;
        font-weight: 700;
        color: #181818;
        text-align: center;
        // margin-top: 60px;
        text-transform: uppercase;

        span {
            color: $orange-color;
        }
    }

    p {
        margin: auto;
        font-size: 20px;
        font-weight: 700;
        color: #181818;
        text-align: center;
        // margin-top: 135px;
        text-transform: uppercase;
        width: 90%;

        span {
            color: $orange-color;
        }
    }

    .welcome__logo {
        width: 200px;
        height: 200px;
        background: url('/images/kribzon__logo__transparent.svg'); // background: red;
        background-size: cover;
        background-position: center;
        opacity: .1;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%);
        transition: all 2s;
    }

    .welcome__logo:hover {
        opacity: 1;
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
    grid-row-gap: 0px;
    grid-column-gap: 2px;
    border-top: 2px solid $orange-color;
    box-sizing: border-box;
    overflow-x: hidden;
}

.mask {
    width: 100%;
    height: 100%;
    background: #181818;
    opacity: 0;
}

.img__1 {
    // border: 1px solid #181818;
    // border-right: 2px solid #181818;
    border-right: 2px solid $orange-color;
    // border-bottom: 2px solid #181818;
    border-bottom: 2px solid $orange-color;
    border-top: 0px solid $orange-color;

    cursor: pointer;
    background-color: #181818;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    transition: all 2s ease;

    h4 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all .5s ease;

    }



    p {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all .5s ease;
        opacity: 0;
    }
}

.img__1:hover {
    h4 {
        top: 30%;
        color: $orange-color;
        z-index: 9;
    }

    p {
        opacity: 1;
        top: 70%;
        color: $orange-color;
        z-index: 9;

    }

    .mask {
        opacity: .8;
    }
}

.img__1__1 {
    background: url('/images/felne-1.jpg');
    background-position: center;
    background-size: cover;
}

.img__1__2 {
    background: url('/images/svetlosne-grupe.jpg');
    background-position: center;
    background-size: cover;
}

.img__1__3 {
    // background: url('/images/elektronika.webp');
    background: url('/images/elektronika-1.jpg');
    background-position: center;
    background-size: cover;
}

.img__1__4 {
    background: url('/images/karoserija.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__5 {
    background: url('/images/gume.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__6 {
    // background: url('/images/izduvni-sistemi.webp');
    background: url('/images/zamenski-delovi.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__7 {
    // background: url('/images/front-replacement.jpg'); 
    background: url('/images/filteri.png');
    // background: url('/images/zamenski-delovi.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__8 {
    background: url('/images/kit_elaborazione_180hp.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}


.img__1__9 {
    background: url('/images/veliki-resvis.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__10 {
    background: url('/images/enetrijeri.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__9 {
    background: url('/images/felne.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__10 {
    background: url('/images/felne.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.about {
    width: 95%;
    margin: auto;
    padding: 50px 0px;
}

.about__logo {
    width: 100%;
    height: 300px;
    // background: url('/images/kribzon__logo__transparent.svg');
    background: url('/images/kribzon__logo__transparent_black\ font.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__2 {
    display: grid;
    grid-gap: 40px;
    grid-row: min-max(500, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "about__1 about__2 about__3"
        "about__1 about__4 about__5";

    .orange {
        color: $orange-color;
    }
}



.about__all {
    padding: 30px;
    color: #181818;
    position: relative;
    // border: 1px solid #181818;

    p {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.3;
        margin-bottom: 50px;
        font-family: Montserrat;

    }

    h3 {
        font-size: 1.2rem;
        text-align: left;
        margin: auto;
        margin-bottom: 35px;
        text-transform: uppercase;
        text-align: center;

        // margin-left: 70px;

    }

    img {
        width: 45px;
        // height: 60px;
        // background: $orange-color;
        // opacity: .8;
        // border-radius: 3px;
    }

    a {
        // width: 200px;
        // height: 70px;
        padding: 10px 30px;
        // padding-left: 0px;
        border: 1px solid darken($orange-color, $amount: 5%);
        border-radius: 3px;
        outline: none;
        text-decoration: none;
        background-color: $orange-color;
        color: #fff;
        // color: $orange-color;
        font-size: 1rem;
        transition: all .3s ease;
        font-weight: 600;
    }

    a:hover {
        // background-color: darken($orange-color, $amount: 5%);
        background-color: #181818;
        // background-color: lighten($orange-color, $amount: 10%);
        // color: #181818;
        border-color: #181818;
    }
}

.about__all {
    h3::after {
        content: "";
        height: 5px;
        width: 0px;
        // background-color: #181818;
        background-color: $orange-color;
        position: absolute;
        top: 25px;
        // left: 20%;
        left: 15%;
        // left: -280px;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }
}

// .about__all:hover h3::after {
//     width: 40px;
// }

.o__nama {
    h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0px;
        // margin-top: 12px;
        color: $orange-color;
    }
}

.o__nama {
    h3::after {
        content: "";
        height: 5px;
        width: 0px;
        background-color: #181818;
        position: absolute;
        top: 60px;
        // top: 7%;
        left: 15%;
        // left: -280px;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }
}

.about__all:hover h3::after {
    // width: 60%;
    width: 70%;
}

.about__1 {
    grid-area: about__1;
}


.about__2 {
    grid-area: about__2;
    position: relative;
    cursor: pointer;

    .about__2__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

// .about__2__text::after,
// .about__3__text::after,
// .about__4__text::after,
// .about__5__text::after {
//     content: "";
//     height: 5px;
//     width: 0px;
//     background-color: $orange-color;
//     position: absolute;
//     top: 25px;
//     left: 68px;
//     // left: -280px;
//     transition: all .5s ease-in-out;
//     overflow-x: hidden;
// }

// .about__2__text:hover::after,
// .about__3__text:hover::after,
// .about__4__text:hover::after,
// .about__5__text:hover::after {
//     // left: 68px;
//     width: 207px;
// }

.about__3 {
    grid-area: about__3;
    position: relative;

    .about__3__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

.about__4 {
    grid-area: about__4;
    position: relative;

    .about__4__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

.about__5 {
    grid-area: about__5;
    position: relative;


    .about__5__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}





.pravna__lica {
    position: relative;
    width: 100%;
    height: 450px;


    .pravna__lica__img {
        // background-image: url('/images/Hands-shake-1024x549.jpg');
        background-image: url('/images/mini_background/kribzon-auto-delovi-corporate.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .maska__2 {
        width: 100%;
        height: 100%;
        // background: #181818;
        background: black;
        opacity: .95;
        position: absolute;
        top: 0px;
        left: 0px;
        // z-index: 300000;

    }

    // .person {
    //     width: 10%;
    //     height: 50%;
    //     background-image: url('/images/footer_consultant.png');
    //     background-position: center;
    //     background-size: cover;
    //     background-repeat: no-repeat;
    //     position: absolute;
    //     bottom: 10%;
    //     right: 10%;

    // }

    h4 {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
        // margin-top: 60px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    a {
        // width: 200px;
        // height: 70px;
        padding: 14px 30px;
        // border: 1px solid #181818;
        border-radius: 6px;
        outline: none;
        text-decoration: none;
        background-color: $orange-color;
        // background-color: #fff;
        // color: $orange-color;
        color: #fff;
        font-size: 24px;
        transition: all .3s ease;
        font-weight: 600;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    a:hover {
        background-color: black;
    }
}

.spec__offer__wrap {
    width: 100%;
    height: 380px;
    // margin: 10px 0;
    background-color: $orange-color;
    position: relative;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
    }
}

// #spec__offer {
//     display: none;
// }
#block1 {
    display: none;

    position: relative;
    width: 100%;
    margin: auto;
    height: 380px;
    margin-top: 0px;
    overflow: hidden;

    .over {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 99%;
        background: url('/images/dot.png') repeat;
        // background-color: red;
        background-size: 3px;
        z-index: 2;
    }

    img {
        width: 100%;
        height: 100%;
    }

    h4 {
        // display: none;

        position: relative;
        width: 90%;
        text-align: left;
        margin: 0px;
        padding: 0px;
        margin-left: 5%;
        font-size: 1.6rem;
        // background: red;
        color: #fff;
        z-index: 3;
    }

    p {
        // display: none;

        position: relative;
        width: 90%;
        text-align: left;
        margin: 0px;
        // margin-top: 30px;
        padding: 0px;
        margin-left: 5%;
        font-size: 20px;
        // background: red;
        color: #fff;
        z-index: 3;
        // animation: offerP1 1.8s ease-in;


    }

    a {
        text-align: left;
        margin: 0px;
        margin-left: 5%;
        z-index: 4;
        padding: 14px 30px;
        border-radius: 6px;
        outline: none;
        text-decoration: none;
        background-color: $orange-color;
        color: #fff;
        font-size: 20px;
        transition: all .3s ease;
        font-weight: 600;
    }

    a:hover {
        background-color: black;
    }

    .spec__offer__h4 {
        // display: none;
        position: absolute;
        width: 100%;
        top: 10%;
        left: 0px;
        animation: offer 1s ease-in;
    }

    @keyframes offer {
        from {
            top: 10%;
            left: 2000px;
        }

        to {
            top: 10%;
            left: 0px;
        }
    }

    .spec__offer__p1 {
        position: absolute;
        // background: $orange-color;
        width: 100%;
        top: 25%;
        left: 0px;
        animation: offerP1 1.5s ease-in;
    }

    @keyframes offerP1 {
        from {
            top: -100%;
            left: 0px;
        }

        to {
            top: 25%;
            left: 0px;
            // color: red;
        }
    }

    .spec__offer__p2 {

        position: absolute;
        width: 100%;
        top: 70%;
        left: 0px;
        animation: offerP2 2s ease-in;
    }

    @keyframes offerP2 {
        from {
            top: 70%;
            left: -2000px;
        }

        to {
            top: 70%;
            left: 0px;
        }
    }

    .spec__offer__a {


        position: absolute;
        width: 100%;
        top: 85%;
        left: 0px;
        z-index: 3;
        animation: offerA 4.5s ease-in;
    }

    @keyframes offerA {
        from {
            top: 85%;
            left: 0px;
            opacity: 0;
        }

        to {
            top: 85%;
            left: 0px;
            opacity: 1;
        }
    }

}

.orange__hr {
    width: 100%;
    height: 6px;
    background: $orange-color;
}

.pravna__lica__h3 {
    width: 100%;
    text-align: center;
    font-size: $slider-h2;
}

.is-visible {
    display: block !important;
    // visibility: visible;
}

.special__offer {
    width: 100%;
    height: auto;
    // height: 70vh;
    margin: auto;

    // background-color: red;

    h4 {
        text-align: center;
        font-size: $slider-h2;
    }
}

.special__offer__slider {
    width: 90%;
    height: 100%;
    margin: auto;
}

#lightSlider2 {
    height: 100%;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

// --------------------------------------

// #container {
//     margin: 55vh 0;
//     padding: 50px;

//     outline: 1px dashed orange;
// }

// #block {
//     padding: 10px;

//     border: 1px solid black;

//     font-family: Helvetica;
// }
// ----------------=================

.footer {
    width: 100%;
    height: 500px;
    background: url('/images/special-offer/bkg_footer.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top: 6px solid $orange-color;
    margin-top: 60px;
    padding: 0px 5%;
    box-sizing: border-box;
    // font-family: Montserrat;

    .footer__top {
        width: 100%;
        height: 80%;

        .category {
            height: 100%;
            width: 22%;
            float: left;
            margin-top: 30px;
            text-align: left;
            // position: relative;
            padding-left: 10px;

            h5 {
                color: #fff;
                font-stretch: extra-expanded;
                text-align: left;
                text-transform: uppercase;
                font-weight: 500;
            }

            ul {
                list-style: none;
                padding-left: 0px;
                line-height: 2;
                color: #5a6069;

                li:hover {
                    color: $orange-color;
                    cursor: pointer;
                    transition: all .15s ease-in;
                    transform: translateX(5px)
                }
            }



        }

        .category::before {
            content: '';
            color: #fff;
            width: 1px;
            height: 320px;
            background: #5a6069;
            // background: red;
            position: absolute;
            left: 0px;
            top: 0px;

        }

        .category__1 {
            position: absolute;
            left: 35%;
            top: 0px;
            animation: foot1 .5s ease-in-out;

            @keyframes foot1 {
                from {
                    // opacity: 0;
                    left: 300%;
                    top: 0px;
                }

                to {
                    // opacity: 1;
                    left: 35%;
                    top: 0px;

                }
            }

        }

        .category__2 {
            position: absolute;
            left: 57%;
            top: 0px;
            animation: foot2 1s ease-in-out;


            @keyframes foot2 {
                from {
                    left: 300%;
                    top: 0px;
                }

                to {
                    left: 57%;
                    top: 0px;
                }
            }
        }


        .category__3 {
            position: absolute;
            left: 79%;
            top: 0px;
            animation: foot3 1.5s ease-in-out;

            @keyframes foot3 {
                from {
                    left: 300%;
                    top: 0px;
                }

                to {
                    left: 79%;
                    top: 0px;
                }
            }
        }
    }

    .hr {
        width: 100%;
        // margin: auto;
        height: 1px;
        background-color: #414141;
    }

    .footer__botom {
        // posle dodavanje id block2
        padding-top: 25px;
    }
}

.logo__footer__wraper {

    height: 100%;
    width: 30%;
    color: #fff;
    font-size: 12px;
    float: left;

    .logo__footer {
        width: 100%;
        height: 30%;
        cursor: pointer;


        img {
            width: 100%;
            height: 100%;
        }
    }

    p {
        width: 100%;
        height: 20%;
        color: #5a6069;
    }


    ul {
        list-style: none;
        padding-left: 0px;

        li {
            list-style: none;
            margin-bottom: 10px;

            a {
                text-decoration: none;
                color: #fff;
                font-size: 12px;


                span {
                    width: 40px;
                    height: 40px;

                    img {
                        width: 30px;
                        height: 30px;
                        margin-right: 10px;

                    }
                }
            }
        }
    }

}

.footer__botom__wraper {

    width: 100%;
    height: 100%;
    // background: red;
    margin: auto;

    display: flex;

    .footer__botom__inner {
        width: 100%;
        height: 100%;
        // border: 1px solid black;
        // background: red;
    }

    .footer__copyright {
        font-family: Montserrat;
        float: left;
        color: #838896;
        font-size: 11px;
        background: none;
        text-transform: capitalize;
        font-weight: 400;
        text-align: left;
        padding: 13px 0;

        a {
            text-decoration: none;
            color: red;
        }

        a:hover {
            text-decoration-line: underline;
        }
    }

    .footer__payment {
        a {
            position: relative;
            float: right;

            img {
                position: absolute;
                top: 5px;
                right: 0px;
            }
        }
    }
}

#block2 {
    display: none;
    position: relative;
}

// mediaQeries
@media(max-width: 1199.98px) {

    .phone__number {
        display: none;
    }

    .phone__number__small {
        display: inline;
    }

    .search__form__wrap {
        display: none;
    }

    .search__form__wrap__small {
        display: flex;
    }


    .left {
        width: 50%;
    }

    .right__social {
        width: 50%;
    }

    .active .inner__1 {
        h2 {
            font-size: 2.5rem;
        }

        .inner__message {
            p {
                font-size: 2.5rem;

            }
        }

        .inner__p {
            p {
                font-size: 1rem;

            }
        }
    }

    .grid {
        h4 {
            font-size: 1.5rem;
        }
    }

    .about__all {
        h3 {
            padding-left: 25px;
            font-size: 1rem;
        }
    }

    .about__all h3::after {
        left: 20%;
    }

    .o__nama h3::after {
        left: 15%;
    }

    .o__nama {
        h3 {
            padding-left: 0px;
        }
    }

    .about__logo {
        height: 250px;
    }

    // .header__bottom__wraper {
    //     flex-direction: row-reverse;
    // }
}

// ==================================== MIN - WIDTH 992px ===========================================================



@media (min-width: 991.98px) {
    #nav-small {
        display: none;
    }

    .small-drop-btn {
        display: none;
    }

}

// ==================================== MAX - WIDTH 992px ====================================

@media (max-width: 991.98px) {

    #left__nav {
        display: none !important;

    }

    #left__nav__1 {
        display: none !important;

    }

    #left__nav__2 {
        display: none !important;

    }

    #left__nav__3 {
        display: none !important;

    }

    .active .inner__1 .inner__h__right h2 {
        padding-left: 40px;
    }

    .active .inner__p {
        margin-top: 20px
    }

    .search__form__wrap__small {
        position: absolute;
        right: 120px;
    }

    .small-drop-btn {
        margin-right: 15px;
        cursor: pointer;
        position: absolute;
        right: 0px;
    }

    .grid {
        grid-template-columns: 1fr 1fr 1fr;
        height: 700px;
    }

    .img__1__7 {
        display: none;
    }

    .grid__2 {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "about__1 about__2"
            "about__1 about__3"
            "about__4 about__5";
    }

}

// ==================================== MAX - WIDTH 768px ====================================


@media (max-width: 767.98px) {
    .active__search__hidden {
        display: none !important;
    }

    .search__form__wrap__small {
        right: 80px;
    }

    .search__box .search__container {
        width: 50% !important;
        right: 50% !important;
        transform: translateX(35%);
    }

    .small-drop-btn {
        right: 0px;
    }

    .active .inner__mail {
        display: none;
    }

    .inner__message {
        display: none;
    }

    .inner__p {
        display: none;
    }




    .active .inner__1 .inner__h__right h2 {
        padding-left: 100px;
    }

    .active .inner__1 .inner__message p {
        font-size: 1.5rem;
    }

    .active .inner__1 {
        bottom: 0px;
        height: 10%;
        top: unset;
    }

    .offer {
        width: 98%;
        height: auto;
        flex-direction: column;
    }

    .about__all a {
        float: right;
    }

    .offer__1 {
        position: relative;
        width: 100%;
    }

    .offer__2 {
        position: relative;
        width: 100%;
        left: 0;
    }

    .offer__3 {
        position: relative;
        width: 100%;
        left: 0;
    }

    .grid {
        grid-template-columns: 1fr 1fr;
        height: 1400px;
    }

    .img__1__7 {
        display: grid;
    }

    .grid__2 {
        grid-template-columns: 1fr;
        grid-template-areas: "about__1"
            "about__2"
            "about__3"
            "about__4"
            "about__5";
    }
}

// ==================================== MAX - WIDTH 596px ====================================

@media (max-width: 595.98px) {

    .search__box .search__container {
        height: 30px !important;
    }

    .search__box form span {
        margin-right: .2rem !important;
    }

    header {
        height: 60px;
    }

    .logo {
        position: absolute;
        left: -30px;
        top: -39px;
    }

    .logo img {
        height: 100%;
        width: 150px;
    }

    .inner__h__right {
        top: 200px !important;
    }

    .inner__1 h2 {
        font-size: 1.8rem !important;
    }


    .grid {
        grid-template-columns: 1fr;
        // height: 1400px;
        height: 2800px;
    }

    .category {
        display: none;
    }

    .logo__footer__wraper {
        width: 100%;
    }

    .footer__botom {
        padding-top: 0px !important;
        height: 50px;
    }

    .footer__botom__wraper {
        flex-direction: column-reverse;
        height: 98px;
    }
}

// ===============================================================================================

.active__search__box {
    width: 100%;
    padding-left: 200px;
}




// search box from travell
.search__box {

    display: none;

    width: calc(100% - 225px);
    height: 100%;
    // display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;



    .search__container {
        height: 70%;
        width: 70%;
        position: absolute;
        right: 100px;
        padding-left: 100px;
    }

    form {
        width: 100%;
        height: 100%;
        background: $hoverNav;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border-radius: 6px;


        input {
            width: 90%;
            height: 100%;
            background: $hoverNav;
            border: none;
            padding: 0;
            outline: none;
            font-size: 14px;
            // font-family: $font-Regular;
            color: $headerText;
        }

        button {
            width: 30px;
            height: 20px;
            outline: none;
            border: none;
            background: $hoverNav;
            border-radius: 6px;

        }

        span {
            width: 30px;
            height: 15px;
            margin-right: 1rem;
            cursor: pointer;
            // visibility: visible

            img {
                width: 100%;
                height: 100%;
            }
        }
    }
}

// search box from travell