$orange-color: #fc8902;
$orange-color-opacity: #fc87029d;
$primary-color: #e0e0e0;
$h2-nav: 1rem;
$slider-h2: 3rem;

body {
    box-sizing: border-box;
    background: $primary-color;
    margin: 0;
    padding: 0;
    font-family: Montserrat;

    // background: url('/images/slide-1-bg.jpg');
    // background-attachment: fixed;

    // background-color: transparent;

    // overflow-x: hidden;

    h2 {
        margin: 0;
        padding: 0;
        display: inline;
        font-size: $h2-nav;
        font-weight: 400;
    }
}

header {
    background-color: #181818;
    background-color: rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    // height: 140px;
    height: 100px;
    // padding: 1.5em 3.4em;
    padding: 1.5em 0em;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}


.header__bottom {
    width: 100%;
    height: 100%;
    // background: rgba(0, 0, 0, .8);

}

.header__bottom__wraper {
    width: 90%;
    height: 100%;
    // background: grey;

    margin: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    // display: inline;
    position: absolute;
    left: -50px;
    top: -68px;

    img {
        height: 180px;
        width: 200px;
    }
}

.left {
    // width: 50%;
    float: left;
    // background-color: green;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    ul {
        display: inline;
        padding-left: 100px;
        // margin-left: 60px;

        li {
            list-style: none;
            display: inline;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 0 1rem;
                font-weight: 200;
            }
        }
    }

}


.left ul a:hover {
    color: $orange-color;
}

.arrow {
    margin-left: 10px;

    img {
        width: 12px;
        height: 10px;
        filter: invert(1);
    }
}

// .arrow__svg {
//     width: 12px;
//     height: 10px;
//     filter: invert(1);
// }

.circle {
    display: inline-block;
    position: relative;
    width: 30px;
    height: 30px;
    background-color: #fff;
    border-radius: 50%;
    margin-left: 10px;
}

.circle:hover {
    background-color: $orange-color;

    .dot,
    .dot__2,
    .dot__3 {
        background-color: #fff;
    }
}



.dot {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translateX(-50%);
}

.dot__2 {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    top: 13px;
    left: 50%;
    transform: translateX(-50%);

}

.dot__3 {
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: #111;
    border-radius: 50%;
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translateX(-50%);

}

.right__social {
    // width: 30%;
    float: left;
    height: 50px;
    display: flex;
    flex-direction: row;
    // justify-content: space-around;
    justify-content: space-between;
    align-items: center;

    ul {
        display: inline;
        padding: 0px;

        li {
            list-style: none;
            display: inline;

            a {
                text-decoration: none;
                color: #ffffff;
                padding: 0 1rem;
            }
        }
    }
}

// treba menjati svg
// .right__social h2:hover {
//     a {
//         color: $orange-color;
//     }
// }

.phone {
    transform: rotate(-90deg);
    // filter: invert(1);
    margin-right: 10px;
    width: 20px;
    height: 20px;
    fill: #fff;
}

// .phone:hover {
//     fill: #fc8902;
// }

.phone__number:hover {
    color: #fc8902;

    .phone {
        fill: #fc8902;
    }
}

.facebook {
    // filter: invert(1);
    margin-right: 10px;
    width: 22px;
    height: 22px;
    fill: #fff;
}

.facebook:hover {
    fill: #fc8902;
}

.twitter {
    // filter: invert(1);
    fill: #fff;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.twitter:hover {
    fill: #fc8902;
}

.instagram {
    fill: #fff;
    margin-right: 10px;
    width: 22px;
    height: 22px;
}

.instagram:hover {
    fill: #fc8902;
}

.search__submit__img {
    // filter: invert(1);
    // margin-right: 10px;
    width: 18px;
    height: 18px;
}

.search__form__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.search__action {
    height: 50px;
    position: relative;
}

.search__field {
    height: 35px;
    width: 240px;
    border-radius: 30px;
    // border-color: rgba(255, 255, 255, 0.15) !important;
    background-color: rgba(255, 255, 255, 0.08) !important;
    border-color: rgba(255, 255, 255, 0.15) !important;
    color: #fff !important;
    font-size: 22px;
    text-align: center;
    outline: none;
}

.search__submit {
    position: absolute;
    left: 5px;
    top: 12px;
    background: transparent;
    border: none;
    outline: none;
    color: #fff !important;
}

.search__submit__img {
    filter: invert(1);
}

.basket {
    filter: invert(1);
    margin-left: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
    // display: inline;
    // float: left;
}

.suma {
    display: inline;
    cursor: pointer;
}

.suma__span {
    color: red;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}

.suma__span:hover {
    color: #eaeaea;
    font-weight: 400;
}

.slider_wraper {
    width: 100%;
}

#lightSlider li {
    position: relative;
}

.active .inner__1 {

    // height: 500px;
    height: 50%;
    // width: 900px;
    width: 90%;
    background: transparent;
    // background: red;
    margin: auto;
    position: absolute;
    top: 130px;
    left: 5%;

    .inner__h__left {
        position: absolute;
        // top: 20px;
        // left: 20px;
        top: -200px;
        left: -600px;
        animation: moveleft .5s ease-in-out;
        animation-fill-mode: forwards;
    }

    @keyframes moveleft {
        0% {
            top: 5%;
            left: 0px;
            // opacity: 0.2;
        }

        100% {
            top: 5%;
            left: 0px;
        }
    }


    .inner__h__right {
        position: absolute;
        top: 5%;
        left: 500px;
        transition: all 3s ease;
        animation: moveright 1.5s ease-in;
        animation-fill-mode: forwards;

        h2 {
            color: #fff;
            // font-size: $slider-h2;
            // color: $orange-color;
            // font-weight: 700;
        }
    }

    @keyframes moveright {
        0% {
            top: 5%;
            // left: 2600px;
            left: 250%;
            // opacity: 0.2;
        }

        100% {
            top: 5%;
            // left: 350px;
            left: 30%;
            // opacity: 1;
        }
    }

    h2 {
        font-size: $slider-h2;
        color: $orange-color;
        font-weight: 700;
    }


}

.active .inner__p {
    // background-color: #fff;
    // color: #fff !important;
    position: absolute;
    top: 30%;
    left: 0px;
    opacity: 0;
    width: 50%;
    // transition: all 3s ease;
    animation: moveP .5s ease-out 2.5s;
    animation-fill-mode: forwards;

    p {
        color: grey;
        font-size: 20px;
        font-weight: 400;
    }
}

@keyframes moveP {
    0% {
        top: 30%;
        left: 0px;
        opacity: 0;
        scale: (0.1)
    }

    100% {
        // top: 200px;
        top: 45%;
        left: 0px;
        opacity: 1;
        scale: (1);
    }
}

.active .inner__message {
    // background-color: #fff;
    // color: #fff !important;
    position: absolute;
    top: 22%;
    left: 0px;
    opacity: 0;
    width: 50%;
    // transition: all 3s ease;
    animation: moveMesage .5s ease-in 1.5s;
    animation-fill-mode: forwards;

    p {
        color: #fff;
        font-size: $slider-h2;
        font-weight: 700;
    }
}

@keyframes moveMesage {
    0% {
        top: 20%;
        left: 0px;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        top: 20%;
        left: 0px;
        opacity: 1;
        transform: scale(1);
    }
}

.inner__mail {
    display: none
}

.active .inner__mail {
    display: block;
    height: 40px;
    margin-top: 50px;
    position: absolute;
    top: 60%;
    left: 0px;
    opacity: 0;
    animation: moveM .5s ease-out 4s;
    animation-fill-mode: forwards;

    .inner__input {
        width: 20em;
        height: 100%;
        font-size: 18px;
        padding-left: 20px;
        background-color: rgba(255, 255, 255, 0.07);
        border-color: rgba(255, 255, 255, 0.3);
        border-radius: 40px;
    }

    .inner__submit {
        width: 10em;
        height: 100%;
        font-size: 18px;
        margin-left: 20px;
        background-color: rgba(255, 255, 255, 0.3);
        border-color: rgba(255, 255, 255, 0.07);
        color: rgba(255, 255, 255, 0.5);
        border-radius: 40px;
    }
}

@keyframes moveM {
    0% {
        // top: 140px;
        // left: 20px;
        opacity: 0;
        transform: scale(0);
    }

    100% {
        // top: 300px;
        // left: 20px;
        opacity: 1;
        transform: scale(1);
    }
}

.grow__up {
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // transform: scale(1.1)
}

//   ANIMACIJA ZA UVECANJE SLIKE U SLIDERU

// .active .grow__up {
//     width: 100%;
//     height: 100%;
//     background-position: center;
//     background-size: cover;
//     animation: scale 9.9s ease-in 1s;
//     animation-direction: alternate;
//     animation-fill-mode: forwards;
// }

// @keyframes scale {
//     0% {
//         transform: scale(1)
//     }

//     100% {
//         transform: scale(1)
//     }
// }

// --------------------------------

.offer {
    width: 90%;
    height: 130px;
    // background-color: $orange-color;
    margin: auto;
    position: relative;
    // position: absolute;
    // left: 50px;
    // left: 5%;
    // bottom: -10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.offer__1 {
    position: absolute;
    left: 0%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    // background-image: url('/images/home1-slide-2-1.jpg');
    background-image: url('/images/hyundai-kia-delovi-ponuda-3.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 33.33333333%;

    .offerr__1__inner {
        background-color: #fc8702e8;
        border: 1px solid rgba(0, 0, 0, 0.3);

        height: 100%;
        width: 100%;
        z-index: 300;

        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
        }

    }

    .offerr__1__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: #181818;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__1__inner:hover::after {
        width: 80%;
    }


    .offerr__1__inner:hover h3 {
        color: #181818;
        transition: all 1s ease;
        transform: scale(1.1);
    }

}

.offer__2 {
    position: absolute;
    left: 33.33333333%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    background-image: url('/images/hyundai-kia-delovi-ponuda-4.jpg');
    background-position: center;
    background-size: cover;
    cursor: pointer;
    height: 100%;
    width: 33.33333333%;

    .offerr__2__inner {
        background-color: #000000ec;
        border: 1px solid rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 300;
        display: flex;
        justify-content: center;
        align-items: center;

        position: relative;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
        }
    }

    .offerr__2__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: $orange-color;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__2__inner:hover::after {
        width: 80%;
    }

    .offerr__2__inner:hover h3 {
        color: $orange-color;
        transition: all 1s ease;
        transform: scale(1.1);
    }
}

.offer__3 {
    position: absolute;
    left: 66.66666666%;
    bottom: 65%;
    // background-image: url('/images/slider-8.jpg');
    background-image: url('/images/worldwide-main-brand-story-meet-ioniq-pc.jpg');
    background-position: center;
    background-size: cover;

    height: 100%;
    width: 33.33333333%;

    .offerr__3__inner {
        background-color: #353535d7;
        border: 1px solid rgba(0, 0, 0, 0.3);
        height: 100%;
        width: 100%;
        z-index: 300;

        display: flex;
        justify-content: center;
        align-items: center;

        h3 {
            color: #fff;
            font-size: 30px;
            text-align: center;
            cursor: pointer;
        }

    }

    .offerr__3__inner::after {
        content: "";
        height: 5px;
        width: 0%;
        background-color: $orange-color;
        position: absolute;
        top: 80%;
        left: 10%;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }

    .offerr__3__inner:hover::after {
        width: 80%;
    }

    .offerr__3__inner:hover h3 {
        color: $orange-color;
        transition: all 1s ease;
        transform: scale(1.1);
    }

}

.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.9);
}

.welcome {
    height: 300px;
    width: 100%;
    // margin-top: 100px;
    // background: url('/images/izduvni-sistemi.webp');
    position: relative;

    // background-color: #e0e0e0;

    h3 {
        font-size: $slider-h2;
        font-weight: 700;
        color: #181818;
        text-align: center;
        // margin-top: 60px;
        text-transform: uppercase;

        span {
            color: $orange-color;
        }
    }

    p {
        margin: auto;
        font-size: 20px;
        font-weight: 700;
        color: #181818;
        text-align: center;
        // margin-top: 135px;
        text-transform: uppercase;
        width: 90%;

        span {
            color: $orange-color;
        }
    }

    .welcome__logo {
        width: 200px;
        height: 200px;
        background: url('/images/kribzon__logo__transparent.svg'); // background: red;
        background-size: cover;
        background-position: center;
        opacity: .1;
        position: absolute;
        left: 50%;
        top: 40%;
        transform: translateX(-50%) translateY(-50%)
    }
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    height: 500px;
}

.mask {
    widows: 100%;
    height: 100%;
    background: #181818;
    opacity: 0;
}

.img__1 {
    // border: 1px solid #181818;
    border-right: 2px solid #181818;
    border-bottom: 2px solid #181818;

    cursor: pointer;
    background-color: #181818;
    background-position: center;
    background-size: cover;
    width: 100%;
    position: relative;
    transition: all 2s ease;

    h4 {
        font-size: 2rem;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all .5s ease;

    }



    p {
        font-size: 1rem;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
        width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: all .5s ease;
        opacity: 0;
    }
}

.img__1:hover {
    h4 {
        top: 30%;
    }

    p {
        opacity: 1;
        top: 60%;
    }

    .mask {
        opacity: .3;
    }
}

.img__1__1 {
    background: url('/images/felne-1.jpg');
    background-position: center;
    background-size: cover;
}

.img__1__2 {
    background: url('/images/svetlosne-grupe.jpg');
    background-position: center;
    background-size: cover;
}

.img__1__3 {
    background: url('/images/elektronika.webp');
    background-position: center;
    background-size: cover;
}

.img__1__4 {
    background: url('/images/karoserija.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__5 {
    background: url('/images/gume.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__6 {
    // background: url('/images/izduvni-sistemi.webp');
    background: url('/images/zamenski-delovi.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__7 {
    // background: url('/images/front-replacement.jpg'); 
    background: url('/images/filteri.png');
    // background: url('/images/zamenski-delovi.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__8 {
    background: url('/images/kit_elaborazione_180hp.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}


.img__1__9 {
    background: url('/images/veliki-resvis.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__1__10 {
    background: url('/images/enetrijeri.webp');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__9 {
    background: url('/images/felne.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.img__10 {
    background: url('/images/felne.png');
    background-position: center;
    background-size: cover;
    width: 100%;
}

.about {
    width: 95%;
    margin: auto;
    padding: 50px 0px;
}

.about__logo {
    width: 100%;
    height: 300px;
    background: url('/images/kribzon__logo__transparent.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grid__2 {
    display: grid;
    grid-gap: 40px;
    grid-row: min-max(500, auto);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
        "about__1 about__2 about__3"
        "about__1 about__4 about__5";

    .orange {
        color: $orange-color;
    }
}



.about__all {
    padding: 30px;
    color: #181818;
    position: relative;
    // border: 1px solid #181818;

    p {
        font-size: 1rem;
        text-align: justify;
        line-height: 1.3;
        margin-bottom: 50px;

    }

    h3 {
        font-size: 1.2rem;
        text-align: left;
        margin: auto;
        margin-bottom: 35px;
        text-transform: uppercase;
        text-align: center;

        // margin-left: 70px;

    }

    img {
        width: 45px;
        // height: 60px;
        // background: $orange-color;
        // opacity: .8;
        // border-radius: 3px;
    }

    a {
        // width: 200px;
        // height: 70px;
        padding: 10px 30px;
        // padding-left: 0px;
        border: 1px solid darken($orange-color, $amount: 5%);
        border-radius: 3px;
        outline: none;
        text-decoration: none;
        background-color: $orange-color;
        color: #fff;
        // color: $orange-color;
        font-size: 1rem;
        transition: all .3s ease;
        font-weight: 600;
    }

    a:hover {
        // background-color: darken($orange-color, $amount: 5%);
        background-color: #181818;
        // background-color: lighten($orange-color, $amount: 10%);
        // color: #181818;
        border-color: #181818;
    }
}

.about__all {
    h3::after {
        content: "";
        height: 5px;
        width: 0px;
        // background-color: #181818;
        background-color: $orange-color;
        position: absolute;
        top: 25px;
        left: 20%;
        // left: -280px;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }
}

// .about__all:hover h3::after {
//     width: 40px;
// }

.o__nama {
    h3 {
        font-size: 1.5rem;
        text-align: center;
        margin-left: 0px;
        // margin-top: 12px;
        color: $orange-color;
    }
}

.o__nama {
    h3::after {
        content: "";
        height: 5px;
        width: 0px;
        background-color: #181818;
        position: absolute;
        top: 60px;
        left: 20%;
        // left: -280px;
        transition: all .5s ease-in-out;
        overflow-x: hidden;
    }
}

.about__all:hover h3::after {
    width: 60%;
}

.about__1 {
    grid-area: about__1;
}


.about__2 {
    grid-area: about__2;
    position: relative;
    cursor: pointer;

    .about__2__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

// .about__2__text::after,
// .about__3__text::after,
// .about__4__text::after,
// .about__5__text::after {
//     content: "";
//     height: 5px;
//     width: 0px;
//     background-color: $orange-color;
//     position: absolute;
//     top: 25px;
//     left: 68px;
//     // left: -280px;
//     transition: all .5s ease-in-out;
//     overflow-x: hidden;
// }

// .about__2__text:hover::after,
// .about__3__text:hover::after,
// .about__4__text:hover::after,
// .about__5__text:hover::after {
//     // left: 68px;
//     width: 207px;
// }

.about__3 {
    grid-area: about__3;
    position: relative;

    .about__3__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

.about__4 {
    grid-area: about__4;
    position: relative;

    .about__4__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}

.about__5 {
    grid-area: about__5;
    position: relative;


    .about__5__img {
        position: absolute;
        top: -10px;
        left: -6px;
    }
}





.pravna__lica {
    position: relative;
    width: 100%;
    height: 450px;


    .pravna__lica__img {
        // background-image: url('/images/Hands-shake-1024x549.jpg');
        background-image: url('/images/corporate-820x463.jpg');
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }

    .maska__2 {
        width: 100%;
        height: 100%;
        // background: #181818;
        background: black;
        opacity: .95;
        position: absolute;
        top: 0px;
        left: 0px;
        // z-index: 300000;

    }

    h4 {
        position: absolute;
        top: 60px;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
        text-align: center;
        // margin-top: 60px;
        font-size: 1.6rem;
        line-height: 1.5;
    }

    a {
        // width: 200px;
        // height: 70px;
        padding: 14px 30px;
        // border: 1px solid #181818;
        border-radius: 6px;
        outline: none;
        text-decoration: none;
        background-color: $orange-color;
        // background-color: #fff;
        // color: $orange-color;
        color: #fff;
        font-size: 24px;
        transition: all .3s ease;
        font-weight: 600;
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    a:hover {
        background-color: black;
    }
}